<!DOCTYPE html>
<html>
<head>
    <title>Panel</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4"></div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6"> 
            <h3>文件共享系统</h3>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6"></div> 
    </div>
    <hr />
   <div class="row">
      <div class="col-lg-4 col-md-4 "></div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">

          <div class="panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title">
                      文件列表
                      <a style="float: right;" href="http://localhost:8080/list">刷新</a>
                  </h3>
                  
              </div>
              <div class="panel-body">
                <ol class="file-list" id="file-list">
                    <% if (files && files.length > 0) {
                        let arr = files.split('|');
                        arr.forEach(function(name, idx) { %>
                            <li><%= name %></li>
                    <% }); } %>
                </ol>
                
              </div>
              
          </div>
          <nav aria-label="Page navigation" style="text-align: center;">
            <ul class="pagination">
                <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">6</a></li>
                <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
                </li>
            </ul>
        </nav>
      </div>    
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
       <div class="alert alert-success">
           tips：<br />
           1、通过输入左栏中的文件名下载文件。<br />
           2、用户间P2P传输,加快文件下载速度。<br />
           3、支持大量客户端并发访问。
       </div>
      </div>   
   </div>
    <hr />
   <div class="row">
      <div class="col-lg-4 col-md-4"></div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <form role="form" action="http://localhost:8080/upload">
          <div class="form-group">
            <label for="name">文件上传</label>
            <input type="text" class="form-control"  name="file" placeholder="请输入文件路径">
          </div>
          <button type="submit" class="btn btn-default">上传</button>
        </form>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
           <form role="form" action="http://localhost:8080/download">
              <div class="form-group">
                <label for="filename">文件下载</label>
                <input type="text" class="form-control" id="filename" name = "filename" placeholder="请输入文件名">
              </div>
              <button type="submit" class="btn btn-default">下载</button>
           </form>
      </div>   
   </div>
</div>

</body>
</html>
